# [ 5-1. 운영계좌, 사업기간 등 기초 사항 모델링 ]

In [1]:
from pandas import DataFrame

## 1. 사업개요 작성

In [2]:
overview = {}
overview["business"] = {
    "사업명": ["ㅇㅇ동 ㅁㅁ오피스텔 개발사업"],
    "위치": ["서울시 ㄷㄷ구 ㅇㅇ동 123번지 일원"],
    "지역지구": ["일반상업지구, 지구단위계획구역"],
    "주용도": ["업무시설(오피스텔), 판매시설"],
    "규모": ["지상15층 / 지하3층"],
    "주구조": ["철근콘크리트구조"],
    "주차대수": ["법정 161대", "계획 161대"]
}
overview["area"] = DataFrame({
    "대지면적":   [ 1_500,   454],
    "건축면적":   [   750,   227],
    "연면적" :  [ 13_000,  3_933],
    "용적률연면적": [9_500,  2_874],
},  index =       ['m2',   '평'])

In [3]:
overview

{'business': {'사업명': ['ㅇㅇ동 ㅁㅁ오피스텔 개발사업'],
  '위치': ['서울시 ㄷㄷ구 ㅇㅇ동 123번지 일원'],
  '지역지구': ['일반상업지구, 지구단위계획구역'],
  '주용도': ['업무시설(오피스텔), 판매시설'],
  '규모': ['지상15층 / 지하3층'],
  '주구조': ['철근콘크리트구조'],
  '주차대수': ['법정 161대', '계획 161대']},
 'area':     대지면적  건축면적    연면적  용적률연면적
 m2  1500   750  13000    9500
 평    454   227   3933    2874}

In [4]:
overview["business"]

{'사업명': ['ㅇㅇ동 ㅁㅁ오피스텔 개발사업'],
 '위치': ['서울시 ㄷㄷ구 ㅇㅇ동 123번지 일원'],
 '지역지구': ['일반상업지구, 지구단위계획구역'],
 '주용도': ['업무시설(오피스텔), 판매시설'],
 '규모': ['지상15층 / 지하3층'],
 '주구조': ['철근콘크리트구조'],
 '주차대수': ['법정 161대', '계획 161대']}

In [5]:
overview["business"]["규모"]

['지상15층 / 지하3층']

In [6]:
overview["area"]

    대지면적  건축면적    연면적  용적률연면적
m2  1500   750  13000    9500
평    454   227   3933    2874

In [7]:
overview["area"]["연면적"]

m2    13000
평      3933
Name: 연면적, dtype: int64

In [8]:
print(f"연면적(㎡) : {overview['area']['연면적']['m2']:,}㎡")
print(f"연면적(평) : {overview['area']['연면적']['평']:,}평")

연면적(㎡) : 13,000㎡
연면적(평) : 3,933평

## 2. 사업기간 작성

In [9]:
from cafle import Index

In [10]:
idx = Index("2023.01", 30)
idx.mtrt = 26
idx.loan = Index("2023.03", idx.mtrt + 1)
idx.cstrn = Index("2023.04", 24)
idx.sales = Index("2023.04", 25)

In [11]:
print(f"사업개시일 : {idx[0]}")
print(f"사업종료일 : {idx[-1]}")
print(f"사업기간 : {len(idx)}개월")
print()
print(f"대출실행일 : {idx.loan[0]}")
print(f"대출만기일 : {idx.loan[-1]}")
print(f"대출기간 : {idx.mtrt}개월")
print()
print(f"착공일 : {idx.cstrn[0]}")
print(f"준공일 : {idx.cstrn[-1]}")
print(f"공사기간 : {len(idx.cstrn)}개월")
print()
print(f"분양개시 : {idx.sales[0]}")
print(f"분양잔금 : {idx.sales[-1]}")
print(f"분양기간 : {len(idx.sales)}개월")

사업개시일 : 2023-01-31
사업종료일 : 2025-06-30
사업기간 : 30개월

대출실행일 : 2023-03-31
대출만기일 : 2025-05-31
대출기간 : 26개월

착공일 : 2023-04-30
준공일 : 2025-03-31
공사기간 : 24개월

분양개시 : 2023-04-30
분양잔금 : 2025-04-30
분양기간 : 25개월

## 3. 주요 Account 작성

In [12]:
from cafle import Account

acc = Account(idx) #Account 대분류
acc.oprtg = acc.subacc("oprtg") #운영계좌
acc.repay = acc.subacc("repay") #상환계좌
acc.tmp = acc.subacc("tmp") #임시계좌

In [13]:
acc

Account(main, len 30, dct: ['oprtg', 'repay', 'tmp'])

In [14]:
acc.dct

{'oprtg': Account(oprtg, len 30),
 'repay': Account(repay, len 30),
 'tmp': Account(tmp, len 30)}

In [15]:
acc.oprtg.df

            bal_strt  amt_in  amt_out  bal_end
2023-01-31       0.0     0.0      0.0      0.0
2023-02-28       0.0     0.0      0.0      0.0
2023-03-31       0.0     0.0      0.0      0.0
2023-04-30       0.0     0.0      0.0      0.0
2023-05-31       0.0     0.0      0.0      0.0
2023-06-30       0.0     0.0      0.0      0.0
2023-07-31       0.0     0.0      0.0      0.0
2023-08-31       0.0     0.0      0.0      0.0
2023-09-30       0.0     0.0      0.0      0.0
2023-10-31       0.0     0.0      0.0      0.0
2023-11-30       0.0     0.0      0.0      0.0
2023-12-31       0.0     0.0      0.0      0.0
2024-01-31       0.0     0.0      0.0      0.0
2024-02-29       0.0     0.0      0.0      0.0
2024-03-31       0.0     0.0      0.0      0.0
2024-04-30       0.0     0.0      0.0      0.0
2024-05-31       0.0     0.0      0.0      0.0
2024-06-30       0.0     0.0      0.0      0.0
2024-07-31       0.0     0.0      0.0      0.0
2024-08-31       0.0     0.0      0.0      0.0
2024-09-30       0.0     0.0      0.0      0.0
2024-10-31       0.0     0.0      0.0      0.0
2024-11-30       0.0     0.0      0.0      0.0
2024-12-31       0.0     0.0      0.0      0.0
2025-01-31       0.0     0.0      0.0      0.0
2025-02-28       0.0     0.0      0.0      0.0
2025-03-31       0.0     0.0      0.0      0.0
2025-04-30       0.0     0.0      0.0      0.0
2025-05-31       0.0     0.0      0.0      0.0
2025-06-30       0.0     0.0      0.0      0.0

In [16]:
acc.oprtg.jnl

Empty DataFrame
Columns: [amt_in, amt_out, rcvfrm, payto, note]
Index: []