# [ 5-5. 현금흐름 구현 ]

In [1]:
#pandas DataFrame 화면상 출력 한도 설정
import pandas as pd
pd.set_option('display.max_row', 500)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 200)

## 1. 한단계씩 현금흐름 추적하기

In [2]:
from practice.astn0_overview import overview, idx, acc
from practice.astn1_sales import sales
from practice.astn2_cost import cost
from practice.astn3_equity import equity
from practice.astn4_loan import loan

In [3]:
idxno = idx[0]

#운영계좌 잔액 확인
_ = acc.oprtg.bal_strt[idxno]
acc.tmp.addamt(idxno, _, note="월초 잔액")

#자기자본 인출
_ = equity.withdraw_equity_amount(idxno, acc.oprtg)
acc.tmp.addamt(idxno, _, note="자기자본 납입")

#사업비 추정
oprtg_estmtd = cost.estimate_cost_amt(idxno)

lncst_estmtd = 0
for ln in loan.getloan(reverse=True):
    lncst_estmtd += ln.estimate_fee_amt(idxno)
    lncst_estmtd += ln.estimate_IR_amt(idxno)

cst_estmtd = oprtg_estmtd + lncst_estmtd
acc.tmp.subscd(idxno, cst_estmtd, note="추정 사업비")

#분양매출 인식
for sls in sales.dct.values():
    _ = sls.get_salesamt(acc.oprtg, idxno)
    acc.tmp.addamt(idxno, _, note=f"분양매출({sls.name})")

#대출원금 인출
for ln in loan.getloan(reverse=True):
    ln.set_loan_withdrawable(idxno)
    _ = ln.withdraw_ntnl_fixed(acc.oprtg, idxno)
    acc.tmp.addamt(idxno, _, note=f"일시대출금({ln.name})")
    
for ln in loan.getloan(reverse=True):
    _ = ln.withdraw_ntnl_flexible(acc.tmp, acc.oprtg, idxno)
    acc.tmp.addamt(idxno, _, note=f"한도대출금({ln.name})")
    
#금융비용 지출
for ln in loan.getloan(reverse=False):
    fee = ln.pay_fee_amt(acc.oprtg, idxno)
    IR = ln.pay_IR_amt(acc.oprtg, idxno)
    acc.tmp.subamt(idxno, fee, note=f"수수료({ln.name})")
    acc.tmp.subamt(idxno, IR, note=f"이자({ln.name})")

#일반사업비 지출
_ = cost.pay_cost_amt(acc.oprtg, idxno)
acc.tmp.subamt(idxno, _, note="일반사업비")

#대출원금 상환
for ln in loan.getloan(reverse=False):
    amtrpy = ln.repay_ntnl_amt(acc.oprtg, idxno)
    acc.tmp.subamt(idxno, amtrpy, note=f"대출금상환({ln.name})")
    ln.setback_loan_unwithdrawable(idxno)
    
#임시계좌 현금 조정
acc.tmp.subamt(idxno, acc.tmp.bal_end[idxno], note="임시계좌 잔액 조정")

In [4]:
acc.tmp.jnlscd

           amt_in  amt_out rcvfrm payto    note
2023-01-31      0      0.0   None  None  추정 사업비

In [5]:
acc.tmp.jnl

           amt_in amt_out rcvfrm payto        note
2023-01-31   5000       0   None  None     자기자본 납입
2023-01-31      0  5000.0   None  None  임시계좌 잔액 조정

In [6]:
acc.oprtg.df

            bal_strt  amt_in  amt_out  bal_end
2023-01-31       0.0  5000.0      0.0   5000.0
2023-02-28    5000.0     0.0      0.0   5000.0
2023-03-31    5000.0     0.0      0.0   5000.0
2023-04-30    5000.0     0.0      0.0   5000.0
2023-05-31    5000.0     0.0      0.0   5000.0
2023-06-30    5000.0     0.0      0.0   5000.0
2023-07-31    5000.0     0.0      0.0   5000.0
2023-08-31    5000.0     0.0      0.0   5000.0
2023-09-30    5000.0     0.0      0.0   5000.0
2023-10-31    5000.0     0.0      0.0   5000.0
2023-11-30    5000.0     0.0      0.0   5000.0
2023-12-31    5000.0     0.0      0.0   5000.0
2024-01-31    5000.0     0.0      0.0   5000.0
2024-02-29    5000.0     0.0      0.0   5000.0
2024-03-31    5000.0     0.0      0.0   5000.0
2024-04-30    5000.0     0.0      0.0   5000.0
2024-05-31    5000.0     0.0      0.0   5000.0
2024-06-30    5000.0     0.0      0.0   5000.0
2024-07-31    5000.0     0.0      0.0   5000.0
2024-08-31    5000.0     0.0      0.0   5000.0
2024-09-30    5000.0     0.0      0.0   5000.0
2024-10-31    5000.0     0.0      0.0   5000.0
2024-11-30    5000.0     0.0      0.0   5000.0
2024-12-31    5000.0     0.0      0.0   5000.0
2025-01-31    5000.0     0.0      0.0   5000.0
2025-02-28    5000.0     0.0      0.0   5000.0
2025-03-31    5000.0     0.0      0.0   5000.0
2025-04-30    5000.0     0.0      0.0   5000.0
2025-05-31    5000.0     0.0      0.0   5000.0
2025-06-30    5000.0     0.0      0.0   5000.0

In [7]:
acc.oprtg.jnl

           amt_in amt_out rcvfrm payto     note
2023-01-31   5000       0    보통주  None  자기자본 납입

## 2. For문을 통해 일괄적으로 현금흐름 추적하기

In [9]:
from practice.astn0_overview import overview, idx, acc
from practice.astn1_sales import sales
from practice.astn2_cost import cost
from practice.astn3_equity import equity
from practice.astn4_loan import loan

In [10]:
for idxno in idx:
    #운영계좌 잔액 확인
    _ = acc.oprtg.bal_strt[idxno]
    acc.tmp.addamt(idxno, _, note="월초 잔액")

    #자기자본 인출
    _ = equity.withdraw_equity_amount(idxno, acc.oprtg)
    acc.tmp.addamt(idxno, _, note="자기자본 납입")

    #사업비 추정
    oprtg_estmtd = cost.estimate_cost_amt(idxno)

    lncst_estmtd = 0
    for ln in loan.getloan(reverse=True):
        lncst_estmtd += ln.estimate_fee_amt(idxno)
        lncst_estmtd += ln.estimate_IR_amt(idxno)

    cst_estmtd = oprtg_estmtd + lncst_estmtd
    acc.tmp.subscd(idxno, cst_estmtd, note="추정 사업비")
    
    #분양매출 인식
    for sls in sales.dct.values():
        _ = sls.get_salesamt(acc.oprtg, idxno)
        acc.tmp.addamt(idxno, _, note=f"분양매출({sls.name})")

    #대출원금 인출
    for ln in loan.getloan(reverse=True):
        ln.set_loan_withdrawable(idxno)
        _ = ln.withdraw_ntnl_fixed(acc.oprtg, idxno)
        acc.tmp.addamt(idxno, _, note=f"일시대출금({ln.name})")

    for ln in loan.getloan(reverse=True):
        _ = ln.withdraw_ntnl_flexible(acc.tmp, acc.oprtg, idxno)
        acc.tmp.addamt(idxno, _, note=f"한도대출금({ln.name})")

    #금융비용 지출
    for ln in loan.getloan(reverse=False):
        fee = ln.pay_fee_amt(acc.oprtg, idxno)
        IR = ln.pay_IR_amt(acc.oprtg, idxno)
        acc.tmp.subamt(idxno, fee, note=f"수수료({ln.name})")
        acc.tmp.subamt(idxno, IR, note=f"이자({ln.name})")

    #일반사업비 지출
    _ = cost.pay_cost_amt(acc.oprtg, idxno)
    acc.tmp.subamt(idxno, _, note="일반사업비")

    #대출원금 상환
    for ln in loan.getloan(reverse=False):
        amtrpy = ln.repay_ntnl_amt(acc.oprtg, idxno)
        acc.tmp.subamt(idxno, amtrpy, note=f"대출금상환({ln.name})")
        ln.setback_loan_unwithdrawable(idxno)

    #임시계좌 현금 조정
    acc.tmp.subamt(idxno, acc.tmp.bal_end[idxno], note="임시계좌 잔액 조정")

In [11]:
acc.tmp.jnl

                  amt_in       amt_out rcvfrm payto        note
2023-01-31          5000             0   None  None     자기자본 납입
2023-01-31             0        5000.0   None  None  임시계좌 잔액 조정
2023-01-31          5000             0   None  None     자기자본 납입
2023-01-31             0        5000.0   None  None  임시계좌 잔액 조정
2023-02-28       10000.0             0   None  None       월초 잔액
2023-02-28             0       10000.0   None  None  임시계좌 잔액 조정
2023-03-31       10000.0             0   None  None       월초 잔액
2023-03-31          5000             0   None  None  일시대출금(trb)
2023-03-31          5000             0   None  None  일시대출금(tra)
2023-03-31        4700.0             0   None  None  한도대출금(tra)
2023-03-31             0         800.0   None  None    수수료(tra)
2023-03-31             0         300.0   None  None    수수료(trb)
2023-03-31             0  23516.407407   None  None       일반사업비
2023-03-31             0     83.592593   None  None  임시계좌 잔액 조정
2023-04-30     83.592593             0   None  None       월초 잔액
2023-04-30        1303.2             0   None  None    분양매출(오피)
2023-04-30         700.0             0   None  None  한도대출금(tra)
2023-04-30             0          48.5   None  None     이자(tra)
2023-04-30             0          37.5   None  None     이자(trb)
2023-04-30             0   1959.164907   None  None       일반사업비
2023-04-30             0     41.627685   None  None  임시계좌 잔액 조정
2023-05-31     41.627685             0   None  None       월초 잔액
2023-05-31         600.0             0   None  None  한도대출금(tra)
2023-05-31             0          52.0   None  None     이자(tra)
2023-05-31             0          37.5   None  None     이자(trb)
2023-05-31             0    498.135907   None  None       일반사업비
2023-05-31             0     53.991778   None  None  임시계좌 잔액 조정
2023-06-30     53.991778             0   None  None       월초 잔액
2023-06-30         700.0             0   None  None  한도대출금(tra)
2023-06-30             0          55.0   None  None     이자(tra)
2023-06-30             0          37.5   None  None     이자(trb)
2023-06-30             0    563.030407   None  None       일반사업비
2023-06-30             0      98.46137   None  None  임시계좌 잔액 조정
2023-07-31      98.46137             0   None  None       월초 잔액
2023-07-31         500.0             0   None  None  한도대출금(tra)
2023-07-31             0          58.5   None  None     이자(tra)
2023-07-31             0          37.5   None  None     이자(trb)
2023-07-31             0    454.872907   None  None       일반사업비
2023-07-31             0     47.588463   None  None  임시계좌 잔액 조정
2023-08-31     47.588463             0   None  None       월초 잔액
2023-08-31         600.0             0   None  None  한도대출금(tra)
2023-08-31             0          61.0   None  None     이자(tra)
2023-08-31             0          37.5   None  None     이자(trb)
2023-08-31             0    519.767407   None  None       일반사업비
2023-08-31             0     29.321056   None  None  임시계좌 잔액 조정
2023-09-30     29.321056             0   None  None       월초 잔액
2023-09-30        1303.2             0   None  None    분양매출(오피)
2023-09-30             0          64.0   None  None     이자(tra)
2023-09-30             0          37.5   None  None     이자(trb)
2023-09-30             0    671.187907   None  None       일반사업비
2023-09-30             0    559.833148   None  None  임시계좌 잔액 조정
2023-10-31    559.833148             0   None  None       월초 잔액
2023-10-31        2606.4             0   None  None    분양매출(오피)
2023-10-31             0          64.0   None  None     이자(tra)
2023-10-31             0          37.5   None  None     이자(trb)
2023-10-31             0   1474.208407   None  None       일반사업비
2023-10-31             0   1590.524741   None  None  임시계좌 잔액 조정
2023-11-30   1590.524741             0   None  None       월초 잔액
2023-11-30             0          64.0   None  None     이자(tra)
2023-11-30             0          37.5   None  None     이자(trb)
2023-11-30             0    909.134407   None  None       일반사업비
2023-11-30             0    579.890333   None  None  임시계좌 잔액 조정
2023-12-31    579.890333             0   None  None       월초 잔액
2023-12-31         400.0             0   None  None  한도대출금(tra)
2023-12-31             0          64.0   None  None     이자(tra)
2023-12-31             0          37.5   None  None     이자(trb)
2023-12-31             0    844.239907   None  None       일반사업비
2023-12-31             0     34.150426   None  None  임시계좌 잔액 조정
2024-01-31     34.150426             0   None  None       월초 잔액
2024-01-31         900.0             0   None  None  한도대출금(tra)
2024-01-31             0          66.0   None  None     이자(tra)
2024-01-31             0          37.5   None  None     이자(trb)
2024-01-31             0    822.608407   None  None       일반사업비
2024-01-31             0      8.042019   None  None  임시계좌 잔액 조정
2024-02-29      8.042019             0   None  None       월초 잔액
2024-02-29        2606.4             0   None  None    분양매출(오피)
2024-02-29             0          70.5   None  None     이자(tra)
2024-02-29             0          37.5   None  None     이자(trb)
2024-02-29             0    822.608407   None  None       일반사업비
2024-02-29             0   1683.833611   None  None  임시계좌 잔액 조정
2024-03-31   1683.833611             0   None  None       월초 잔액
2024-03-31             0          70.5   None  None     이자(tra)
2024-03-31             0          37.5   None  None     이자(trb)
2024-03-31             0    952.397407   None  None       일반사업비
2024-03-31             0    623.436204   None  None  임시계좌 잔액 조정
2024-04-30    623.436204             0   None  None       월초 잔액
2024-04-30        3909.6             0   None  None    분양매출(오피)
2024-04-30             0          70.5   None  None     이자(tra)
2024-04-30             0          37.5   None  None     이자(trb)
2024-04-30             0   1798.680907   None  None       일반사업비
2024-04-30             0   2626.355296   None  None  임시계좌 잔액 조정
2024-05-31   2626.355296             0   None  None       월초 잔액
2024-05-31             0          70.5   None  None     이자(tra)
2024-05-31             0          37.5   None  None     이자(trb)
2024-05-31             0   1406.658907   None  None       일반사업비
2024-05-31             0   1111.696389   None  None  임시계좌 잔액 조정
2024-06-30   1111.696389             0   None  None       월초 잔액
2024-06-30         700.0             0   None  None  한도대출금(tra)
2024-06-30             0          70.5   None  None     이자(tra)
2024-06-30             0          37.5   None  None     이자(trb)
2024-06-30             0   1666.236907   None  None       일반사업비
2024-06-30             0     37.459481   None  None  임시계좌 잔액 조정
2024-07-31     37.459481             0   None  None       월초 잔액
2024-07-31        3909.6             0   None  None    분양매출(오피)
2024-07-31             0          74.0   None  None     이자(tra)
2024-07-31             0          37.5   None  None     이자(trb)
2024-07-31             0   1817.657407   None  None       일반사업비
2024-07-31             0   2017.902074   None  None  임시계좌 잔액 조정
2024-08-31   2017.902074             0   None  None       월초 잔액
2024-08-31             0          74.0   None  None     이자(tra)
2024-08-31             0          37.5   None  None     이자(trb)
2024-08-31             0   1904.183407   None  None       일반사업비
2024-08-31             0      2.218667   None  None  임시계좌 잔액 조정
2024-09-30      2.218667             0   None  None       월초 잔액
2024-09-30        2000.0             0   None  None  한도대출금(tra)
2024-09-30             0          74.0   None  None     이자(tra)
2024-09-30             0          37.5   None  None     이자(trb)
2024-09-30             0   1839.288907   None  None       일반사업비
2024-09-30             0     51.429759   None  None  임시계좌 잔액 조정
2024-10-31     51.429759             0   None  None       월초 잔액
2024-10-31        5212.8             0   None  None    분양매출(오피)
2024-10-31             0          84.0   None  None     이자(tra)
2024-10-31             0          37.5   None  None     이자(trb)
2024-10-31             0   2404.362907   None  None       일반사업비
2024-10-31             0   2738.366852   None  None  임시계좌 잔액 조정
2024-11-30   2738.366852             0   None  None       월초 잔액
2024-11-30             0          84.0   None  None     이자(tra)
2024-11-30             0          37.5   None  None     이자(trb)
2024-11-30             0   1644.605407   None  None       일반사업비
2024-11-30             0    972.261444   None  None  임시계좌 잔액 조정
2024-12-31    972.261444             0   None  None       월초 잔액
2024-12-31        5212.8             0   None  None    분양매출(오피)
2024-12-31             0          84.0   None  None     이자(tra)
2024-12-31             0          37.5   None  None     이자(trb)
2024-12-31             0   1514.816407   None  None       일반사업비
2024-12-31             0   4548.745037   None  None  임시계좌 잔액 조정
2025-01-31   4548.745037             0   None  None       월초 잔액
2025-01-31             0          84.0   None  None     이자(tra)
2025-01-31             0          37.5   None  None     이자(trb)
2025-01-31             0   1320.132907   None  None       일반사업비
2025-01-31             0    3107.11213   None  None  임시계좌 잔액 조정
2025-02-28    3107.11213             0   None  None       월초 잔액
2025-02-28             0          84.0   None  None     이자(tra)
2025-02-28             0          37.5   None  None     이자(trb)
2025-02-28             0   1017.291907   None  None       일반사업비
2025-02-28             0   1968.320222   None  None  임시계좌 잔액 조정
2025-03-31   1968.320222             0   None  None       월초 잔액
2025-03-31             0          84.0   None  None     이자(tra)
2025-03-31             0          37.5   None  None     이자(trb)
2025-03-31             0   1299.534465   None  None       일반사업비
2025-03-31             0    547.285757   None  None  임시계좌 잔액 조정
2025-04-30    547.285757             0   None  None       월초 잔액
2025-04-30       39096.0             0   None  None    분양매출(오피)
2025-04-30        5600.0             0   None  None    분양매출(근생)
2025-04-30             0          84.0   None  None     이자(tra)
2025-04-30             0          37.5   None  None     이자(trb)
2025-04-30             0   1258.263407   None  None       일반사업비
2025-04-30             0  43863.522349   None  None  임시계좌 잔액 조정
2025-05-31  43863.522349             0   None  None       월초 잔액
2025-05-31             0          84.0   None  None     이자(tra)
2025-05-31             0          37.5   None  None     이자(trb)
2025-05-31             0     26.207407   None  None       일반사업비
2025-05-31             0       40000.0   None  None  대출금상환(tra)
2025-05-31             0        5000.0   None  None  대출금상환(trb)
2025-05-31             0  -1284.185058   None  None  임시계좌 잔액 조정
2025-06-30  -1284.185058             0   None  None       월초 잔액
2025-06-30             0  -1284.185058   None  None  임시계좌 잔액 조정

In [12]:
acc.oprtg.jnl

            amt_in    amt_out rcvfrm payto        note
2023-01-31    5000          0    보통주  None     자기자본 납입
2023-01-31    5000          0    보통주  None     자기자본 납입
2023-03-31    5000          0   ntnl  None  일시대출금(trb)
2023-03-31    5000          0   ntnl  None  일시대출금(tra)
2023-03-31  4700.0          0   ntnl  None  한도대출금(tra)
...            ...        ...    ...   ...         ...
2025-05-31       0       84.0   None    IR     이자(tra)
2025-05-31       0       37.5   None    IR     이자(trb)
2025-05-31       0  26.207407   None   예비비         예비비
2025-05-31       0    40000.0   None  ntnl  대출금상환(tra)
2025-05-31       0     5000.0   None  ntnl  대출금상환(trb)

[247 rows x 5 columns]

In [13]:
acc.oprtg.df

                bal_strt   amt_in       amt_out       bal_end
2023-01-31      0.000000  10000.0      0.000000  10000.000000
2023-02-28  10000.000000      0.0      0.000000  10000.000000
2023-03-31  10000.000000  14700.0  24616.407407     83.592593
2023-04-30     83.592593   2003.2   2045.164907     41.627685
2023-05-31     41.627685    600.0    587.635907     53.991778
2023-06-30     53.991778    700.0    655.530407     98.461370
2023-07-31     98.461370    500.0    550.872907     47.588463
2023-08-31     47.588463    600.0    618.267407     29.321056
2023-09-30     29.321056   1303.2    772.687907    559.833148
2023-10-31    559.833148   2606.4   1575.708407   1590.524741
2023-11-30   1590.524741      0.0   1010.634407    579.890333
2023-12-31    579.890333    400.0    945.739907     34.150426
2024-01-31     34.150426    900.0    926.108407      8.042019
2024-02-29      8.042019   2606.4    930.608407   1683.833611
2024-03-31   1683.833611      0.0   1060.397407    623.436204
2024-04-30    623.436204   3909.6   1906.680907   2626.355296
2024-05-31   2626.355296      0.0   1514.658907   1111.696389
2024-06-30   1111.696389    700.0   1774.236907     37.459481
2024-07-31     37.459481   3909.6   1929.157407   2017.902074
2024-08-31   2017.902074      0.0   2015.683407      2.218667
2024-09-30      2.218667   2000.0   1950.788907     51.429759
2024-10-31     51.429759   5212.8   2525.862907   2738.366852
2024-11-30   2738.366852      0.0   1766.105407    972.261444
2024-12-31    972.261444   5212.8   1636.316407   4548.745037
2025-01-31   4548.745037      0.0   1441.632907   3107.112130
2025-02-28   3107.112130      0.0   1138.791907   1968.320222
2025-03-31   1968.320222      0.0   1421.034465    547.285757
2025-04-30    547.285757  44696.0   1379.763407  43863.522349
2025-05-31  43863.522349      0.0  45147.707407  -1284.185058
2025-06-30  -1284.185058      0.0      0.000000  -1284.185058

In [14]:
sales.오피.dfall

            scd_in  scd_in_cum  scd_out  scd_out_cum  bal_strt  amt_in  amt_in_cum  amt_out  amt_out_cum  bal_end  rsdl_in_cum  rsdl_out_cum
2023-01-31     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2023-02-28     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2023-03-31     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2023-04-30     0.0         0.0   1303.2       1303.2       0.0     0.0         0.0   1303.2       1303.2  -1303.2          0.0           0.0
2023-05-31     0.0         0.0      0.0       1303.2   -1303.2     0.0         0.0      0.0       1303.2  -1303.2          0.0           0.0
2023-06-30     0.0         0.0      0.0       1303.2   -1303.2     0.0         0.0      0.0       1303.2  -1303.2          0.0           0.0
2023-07-31     0.0         0.0      0.0       1303.2   -1303.2     0.0         0.0      0.0       1303.2  -1303.2          0.0           0.0
2023-08-31     0.0         0.0      0.0       1303.2   -1303.2     0.0         0.0      0.0       1303.2  -1303.2          0.0           0.0
2023-09-30     0.0         0.0   1303.2       2606.4   -1303.2     0.0         0.0   1303.2       2606.4  -2606.4          0.0           0.0
2023-10-31     0.0         0.0   2606.4       5212.8   -2606.4     0.0         0.0   2606.4       5212.8  -5212.8          0.0           0.0
2023-11-30     0.0         0.0      0.0       5212.8   -5212.8     0.0         0.0      0.0       5212.8  -5212.8          0.0           0.0
2023-12-31     0.0         0.0      0.0       5212.8   -5212.8     0.0         0.0      0.0       5212.8  -5212.8          0.0           0.0
2024-01-31     0.0         0.0      0.0       5212.8   -5212.8     0.0         0.0      0.0       5212.8  -5212.8          0.0           0.0
2024-02-29     0.0         0.0   2606.4       7819.2   -5212.8     0.0         0.0   2606.4       7819.2  -7819.2          0.0           0.0
2024-03-31     0.0         0.0      0.0       7819.2   -7819.2     0.0         0.0      0.0       7819.2  -7819.2          0.0           0.0
2024-04-30     0.0         0.0   3909.6      11728.8   -7819.2     0.0         0.0   3909.6      11728.8 -11728.8          0.0           0.0
2024-05-31     0.0         0.0      0.0      11728.8  -11728.8     0.0         0.0      0.0      11728.8 -11728.8          0.0           0.0
2024-06-30     0.0         0.0      0.0      11728.8  -11728.8     0.0         0.0      0.0      11728.8 -11728.8          0.0           0.0
2024-07-31     0.0         0.0   3909.6      15638.4  -11728.8     0.0         0.0   3909.6      15638.4 -15638.4          0.0           0.0
2024-08-31     0.0         0.0      0.0      15638.4  -15638.4     0.0         0.0      0.0      15638.4 -15638.4          0.0           0.0
2024-09-30     0.0         0.0      0.0      15638.4  -15638.4     0.0         0.0      0.0      15638.4 -15638.4          0.0           0.0
2024-10-31     0.0         0.0   5212.8      20851.2  -15638.4     0.0         0.0   5212.8      20851.2 -20851.2          0.0           0.0
2024-11-30     0.0         0.0      0.0      20851.2  -20851.2     0.0         0.0      0.0      20851.2 -20851.2          0.0           0.0
2024-12-31     0.0         0.0   5212.8      26064.0  -20851.2     0.0         0.0   5212.8      26064.0 -26064.0          0.0           0.0
2025-01-31     0.0         0.0      0.0      26064.0  -26064.0     0.0         0.0      0.0      26064.0 -26064.0          0.0           0.0
2025-02-28     0.0         0.0      0.0      26064.0  -26064.0     0.0         0.0      0.0      26064.0 -26064.0          0.0           0.0
2025-03-31     0.0         0.0      0.0      26064.0  -26064.0     0.0         0.0      0.0      26064.0 -26064.0          0.0           0.0
2025-04-30     0.0         0.0  39096.0      65160.0  -26064.0     0.0         0.0  39096.0      65160.0 -65160.0          0.0           0.0
2025-05-31     0.0         0.0      0.0      65160.0  -65160.0     0.0         0.0      0.0      65160.0 -65160.0          0.0           0.0
2025-06-30     0.0         0.0      0.0      65160.0  -65160.0     0.0         0.0      0.0      65160.0 -65160.0          0.0           0.0

In [15]:
sales.근생.dfall

            scd_in  scd_in_cum  scd_out  scd_out_cum  bal_strt  amt_in  amt_in_cum  amt_out  amt_out_cum  bal_end  rsdl_in_cum  rsdl_out_cum
2023-01-31     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2023-02-28     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2023-03-31     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2023-04-30     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2023-05-31     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2023-06-30     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2023-07-31     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2023-08-31     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2023-09-30     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2023-10-31     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2023-11-30     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2023-12-31     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2024-01-31     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2024-02-29     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2024-03-31     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2024-04-30     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2024-05-31     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2024-06-30     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2024-07-31     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2024-08-31     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2024-09-30     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2024-10-31     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2024-11-30     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2024-12-31     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2025-01-31     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2025-02-28     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2025-03-31     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2025-04-30     0.0         0.0   5600.0       5600.0       0.0     0.0         0.0   5600.0       5600.0  -5600.0          0.0           0.0
2025-05-31     0.0         0.0      0.0       5600.0   -5600.0     0.0         0.0      0.0       5600.0  -5600.0          0.0           0.0
2025-06-30     0.0         0.0      0.0       5600.0   -5600.0     0.0         0.0      0.0       5600.0  -5600.0          0.0           0.0

In [16]:
loan.tra.ntnl.dfall

             scd_in  scd_in_cum  scd_out  scd_out_cum  bal_strt   amt_in  amt_in_cum  amt_out  amt_out_cum  bal_end  rsdl_in_cum  rsdl_out_cum
2023-01-31      0.0         0.0      0.0          0.0       0.0      0.0         0.0      0.0          0.0      0.0          0.0           0.0
2023-02-28      0.0         0.0      0.0          0.0       0.0      0.0         0.0      0.0          0.0      0.0          0.0           0.0
2023-03-31      0.0         0.0  40000.0      40000.0       0.0      0.0         0.0   9700.0       9700.0  -9700.0          0.0       30300.0
2023-04-30      0.0         0.0      0.0      40000.0   -9700.0      0.0         0.0    700.0      10400.0 -10400.0          0.0       29600.0
2023-05-31      0.0         0.0      0.0      40000.0  -10400.0      0.0         0.0    600.0      11000.0 -11000.0          0.0       29000.0
2023-06-30      0.0         0.0      0.0      40000.0  -11000.0      0.0         0.0    700.0      11700.0 -11700.0          0.0       28300.0
2023-07-31      0.0         0.0      0.0      40000.0  -11700.0      0.0         0.0    500.0      12200.0 -12200.0          0.0       27800.0
2023-08-31      0.0         0.0      0.0      40000.0  -12200.0      0.0         0.0    600.0      12800.0 -12800.0          0.0       27200.0
2023-09-30      0.0         0.0      0.0      40000.0  -12800.0      0.0         0.0      0.0      12800.0 -12800.0          0.0       27200.0
2023-10-31      0.0         0.0      0.0      40000.0  -12800.0      0.0         0.0      0.0      12800.0 -12800.0          0.0       27200.0
2023-11-30      0.0         0.0      0.0      40000.0  -12800.0      0.0         0.0      0.0      12800.0 -12800.0          0.0       27200.0
2023-12-31      0.0         0.0      0.0      40000.0  -12800.0      0.0         0.0    400.0      13200.0 -13200.0          0.0       26800.0
2024-01-31      0.0         0.0      0.0      40000.0  -13200.0      0.0         0.0    900.0      14100.0 -14100.0          0.0       25900.0
2024-02-29      0.0         0.0      0.0      40000.0  -14100.0      0.0         0.0      0.0      14100.0 -14100.0          0.0       25900.0
2024-03-31      0.0         0.0      0.0      40000.0  -14100.0      0.0         0.0      0.0      14100.0 -14100.0          0.0       25900.0
2024-04-30      0.0         0.0      0.0      40000.0  -14100.0      0.0         0.0      0.0      14100.0 -14100.0          0.0       25900.0
2024-05-31      0.0         0.0      0.0      40000.0  -14100.0      0.0         0.0      0.0      14100.0 -14100.0          0.0       25900.0
2024-06-30      0.0         0.0      0.0      40000.0  -14100.0      0.0         0.0    700.0      14800.0 -14800.0          0.0       25200.0
2024-07-31      0.0         0.0      0.0      40000.0  -14800.0      0.0         0.0      0.0      14800.0 -14800.0          0.0       25200.0
2024-08-31      0.0         0.0      0.0      40000.0  -14800.0      0.0         0.0      0.0      14800.0 -14800.0          0.0       25200.0
2024-09-30      0.0         0.0      0.0      40000.0  -14800.0      0.0         0.0   2000.0      16800.0 -16800.0          0.0       23200.0
2024-10-31      0.0         0.0      0.0      40000.0  -16800.0      0.0         0.0      0.0      16800.0 -16800.0          0.0       23200.0
2024-11-30      0.0         0.0      0.0      40000.0  -16800.0      0.0         0.0      0.0      16800.0 -16800.0          0.0       23200.0
2024-12-31      0.0         0.0      0.0      40000.0  -16800.0      0.0         0.0      0.0      16800.0 -16800.0          0.0       23200.0
2025-01-31      0.0         0.0      0.0      40000.0  -16800.0      0.0         0.0      0.0      16800.0 -16800.0          0.0       23200.0
2025-02-28      0.0         0.0      0.0      40000.0  -16800.0      0.0         0.0      0.0      16800.0 -16800.0          0.0       23200.0
2025-03-31      0.0         0.0      0.0      40000.0  -16800.0      0.0         0.0      0.0      16800.0 -16800.0          0.0       23200.0
2025-04-30      0.0         0.0      0.0      40000.0  -16800.0      0.0         0.0      0.0      16800.0 -16800.0          0.0       23200.0
2025-05-31  40000.0     40000.0      0.0      40000.0  -16800.0  40000.0     40000.0      0.0      16800.0  23200.0          0.0       23200.0
2025-06-30      0.0     40000.0      0.0      40000.0   23200.0      0.0     40000.0      0.0      16800.0  23200.0          0.0       23200.0