# [ 4-3. cafle 주요 모듈 소개 3 ]

## 7. Write 모듈
* 엑셀파일을 생성하고, 작성된 현금흐름을 엑셀에 기입.

In [1]:
import cafle as cf
from cafle import Index, Account
from cafle import Write, Cell

In [2]:
wb = Write("exercise01.xlsx")
ws = wb.add_ws("cashflow")
wb.ws["cashflow"].set_column("A:K", 12)

0

In [3]:
#단어 출력
ws("Cashflow_normal")
ws("Cashflow_bold", wb.bold)

#한 행 띄우기
ws.nextcell(1)

#리스트 출력
ws(["Cashflow", "내용1", "내용2"])
ws(["Cashflow", "내용1", "내용2"], [wb.bold, wb.nml, wb.nml])

#한 행 띄우기
ws.nextcell(1)

#딕셔너리 출력(행방향)
dct = {"구분1": [10, 20, 30],
       "구분2": [100, 200, 300]}
ws(dct)

#한 행 띄우기
ws.nextcell(1)

Cell(11, 0)

In [4]:
#딕셔너리 출력(열방향)
ws(dct, valdrtn='col')

ws.nextcell(1)

#딕셔너리 출력(구분항목은 bold로)
ws(dct, fmtkey=wb.bold)

ws.nextcell(1)

Cell(19, 0)

In [5]:
#DataFrame 출력

import pandas as pd
df = pd.DataFrame(dct)

ws(df)

ws.nextcell(1)

ws(df, valdrtn='col')

Cell(27, 0)

In [6]:
wb.close()

True

### CashFlow 출력하기

In [7]:
idx = Index("2023.01", 12)
oprtg = Account(idx)

oprtg.subamt(idx[0], 10_000)
oprtg.addamt(idx[1:10], 100)
oprtg.addamt(idx[11], 10_000)

In [8]:
oprtg.df

            bal_strt   amt_in  amt_out  bal_end
2023-01-31       0.0      0.0  10000.0 -10000.0
2023-02-28  -10000.0    100.0      0.0  -9900.0
2023-03-31   -9900.0    100.0      0.0  -9800.0
2023-04-30   -9800.0    100.0      0.0  -9700.0
2023-05-31   -9700.0    100.0      0.0  -9600.0
2023-06-30   -9600.0    100.0      0.0  -9500.0
2023-07-31   -9500.0    100.0      0.0  -9400.0
2023-08-31   -9400.0    100.0      0.0  -9300.0
2023-09-30   -9300.0    100.0      0.0  -9200.0
2023-10-31   -9200.0    100.0      0.0  -9100.0
2023-11-30   -9100.0      0.0      0.0  -9100.0
2023-12-31   -9100.0  10000.0      0.0    900.0

In [9]:
wb = Write("exercise02.xlsx")
ws = wb.add_ws("operating")
wb.ws["operating"].set_column("A:E", 12)

ws("Operating Account")
ws.nextcell(1)
ws(oprtg.df, fmtidx=wb.date, fmtkey=wb.bold, fmt=wb.num)

Cell(15, 0)

In [10]:
ws = wb.add_ws("operating_all")
wb.ws["operating_all"].set_column("A:M", 12)

ws("Operating All")
ws.nextcell(1)
ws(oprtg.dfall, fmtidx=wb.date, fmtkey=wb.bold, fmt=wb.num)

Cell(15, 0)

In [11]:
wb.close()

True

### format 설정하기

* wb.nml : 표준 텍스트
* wb.bold : bold 텍스트
* wb.num : '#,##0' 형태 숫자
* wb.numb : '#,##0' 형태 숫자 + bold
* wb.pct : '0.0%' 형태의 백분율
* wb.pct2 : '0.00%' 형태의 백분율
* wb.date : 'yyyy-mm-dd' 형태의 날짜
* wb.month : '#,##0"개월"' 형태의 숫자 + 텍스트
* wb.now : 현재 날짜 및 시간

임의 설정
* wb.fmtnum(fmt, **kwargs) : fmt 형태의 숫자 format + 추가 조건들
  * 예1) wb.fmtnum('#,##0') 은 wb.num과 같은 형태
  * 예2) wb.fmtnum('#,##0', bold=True) 은 wb.numb와 같은 형태
  * 예3) wb.fmtnum('$#,##0.00', bold=True, font_color='red')
  * fmt : 엑셀 상 포맷 형식 사용 가능

In [12]:
wb = Write("exercise03.xlsx")
ws = wb.add_ws("exercise")

ws("표준 텍스트", wb.nml)
ws("bold 텍스트", wb.bold)
ws(123000, wb.num)
ws(123000, wb.numb)
ws(0.075, wb.pct)
ws(0.075, wb.pct2)
ws(idx[0], wb.date)
ws(12, wb.month)
ws(wb.now, wb.date)

ws.nextcell(1)
fmt = wb.fmtnum("#,##0_);[red](#,##0);-_)")
ws(123000, fmt)
ws(-123000, fmt)
ws(0.1, fmt)
ws(0, fmt)
wb.close()

True

### worksheet 기본 format 설정하기
* Write 모듈은 XlsxWriter 라이브러리를 기반으로 작성되었으며, 이에 XlsxWriter 라이브러리의 속성이나, 메서드를 이용할 수 있음.
  * 참고 사이트 : xlsxwriter.readthedocs.io
* wb.wb와 wb.ws는 XlsxWriter 패키지 상 객체를 반환하며, 이를 이용하여 XlsxWriter의 메서드를 사용할 수 있음.
* wb.ws["sheet name"].set_column("column", "너비", "format 내용")을 실행하여 worksheet 전체의 format 설정 가능함.

In [13]:
wb = Write("exercise04.xlsx")
ws = wb.add_ws("exercise")
wb.ws["exercise"].set_column('A:D', 10, wb.num)
ws([123_000, 321_000, 456_000, 654_000])
ws([123_000, 321_000, 456_000, 654_000])
ws([123_000, 321_000, 456_000, 654_000])

wb.close()

True

In [14]:
type(wb)

cafle.write.Write

In [15]:
type(ws)

cafle.write.WriteWS

In [16]:
type(wb.wb)

xlsxwriter.workbook.Workbook

In [17]:
type(wb.ws['exercise'])

xlsxwriter.worksheet.Worksheet

In [18]:
wb = Write("exercise05.xlsx")
fmt = wb.fmtnum("#,##0_);[red](#,##0);-_)")
ws = wb.add_ws("exercise")
wb.ws["exercise"].set_column('A:D', 10, fmt)
ws([123_000, -321_000, 0.1, 0])
ws([123_000, -321_000, 0.1, 0])
ws([123_000, -321_000, 0.1, 0])

wb.close()

True