# [ 5-5. 현금흐름 구현 ]

In [1]:
#pandas DataFrame 화면상 출력 한도 설정
import pandas as pd
pd.set_option('display.max_row', 500)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 200)

## 1. 한단계씩 현금흐름 추적하기

In [2]:
from practice.astn0_overview import overview, idx, acc
from practice.astn1_sales import sales
from practice.astn2_cost import cost
from practice.astn3_equity import equity
from practice.astn4_loan import loan

In [3]:
idxno = idx[0]

#운영계좌 잔액 확인
_ = acc.oprtg.bal_strt[idxno]
acc.tmp.addamt(idxno, _, note="월초 잔액")

#자기자본 인출
_ = equity.withdraw_equity_amount(idxno, acc.oprtg)
acc.tmp.addamt(idxno, _, note="자기자본 납입")

#사업비 추정
oprtg_estmtd = cost.estimate_cost_amt(idxno)

lncst_estmtd = 0
for ln in loan.getloan(reverse=True):
    lncst_estmtd += ln.estimate_fee_amt(idxno)
    lncst_estmtd += ln.estimate_IR_amt(idxno)

cst_estmtd = oprtg_estmtd + lncst_estmtd
acc.tmp.subscd(idxno, cst_estmtd, note="추정 사업비")

#분양매출 인식
for sls in sales.dct.values():
    _ = sls.get_salesamt(acc.oprtg, idxno)
    acc.tmp.addamt(idxno, _, note=f"분양매출({sls.name})")

#대출원금 인출
for ln in loan.getloan(reverse=True):
    ln.set_loan_withdrawable(idxno)
    _ = ln.withdraw_ntnl_fixed(acc.oprtg, idxno)
    acc.tmp.addamt(idxno, _, note=f"일시대출금({ln.name})")
    
for ln in loan.getloan(reverse=True):
    _ = ln.withdraw_ntnl_flexible(acc.tmp, acc.oprtg, idxno)
    acc.tmp.addamt(idxno, _, note=f"한도대출금({ln.name})")
    
#금융비용 지출
for ln in loan.getloan(reverse=False):
    fee = ln.pay_fee_amt(acc.oprtg, idxno)
    IR = ln.pay_IR_amt(acc.oprtg, idxno)
    acc.tmp.subamt(idxno, fee, note=f"수수료({ln.name})")
    acc.tmp.subamt(idxno, IR, note=f"이자({ln.name})")

#일반사업비 지출
_ = cost.pay_cost_amt(acc.oprtg, idxno)
acc.tmp.subamt(idxno, _, note="일반사업비")

#대출원금 상환
for ln in loan.getloan(reverse=False):
    amtrpy = ln.repay_ntnl_amt(acc.oprtg, idxno)
    acc.tmp.subamt(idxno, amtrpy, note=f"대출금상환({ln.name})")
    ln.setback_loan_unwithdrawable(idxno)
    
#임시계좌 현금 조정
acc.tmp.subamt(idxno, acc.tmp.bal_end[idxno], note="임시계좌 잔액 조정")

In [4]:
acc.tmp.jnlscd

           amt_in  amt_out rcvfrm payto    note
2023-01-31      0      0.0   None  None  추정 사업비

In [5]:
acc.tmp.jnl

           amt_in amt_out rcvfrm payto        note
2023-01-31   5000       0   None  None     자기자본 납입
2023-01-31      0  5000.0   None  None  임시계좌 잔액 조정

In [6]:
acc.oprtg.df

            bal_strt  amt_in  amt_out  bal_end
2023-01-31       0.0  5000.0      0.0   5000.0
2023-02-28    5000.0     0.0      0.0   5000.0
2023-03-31    5000.0     0.0      0.0   5000.0
2023-04-30    5000.0     0.0      0.0   5000.0
2023-05-31    5000.0     0.0      0.0   5000.0
2023-06-30    5000.0     0.0      0.0   5000.0
2023-07-31    5000.0     0.0      0.0   5000.0
2023-08-31    5000.0     0.0      0.0   5000.0
2023-09-30    5000.0     0.0      0.0   5000.0
2023-10-31    5000.0     0.0      0.0   5000.0
2023-11-30    5000.0     0.0      0.0   5000.0
2023-12-31    5000.0     0.0      0.0   5000.0
2024-01-31    5000.0     0.0      0.0   5000.0
2024-02-29    5000.0     0.0      0.0   5000.0
2024-03-31    5000.0     0.0      0.0   5000.0
2024-04-30    5000.0     0.0      0.0   5000.0
2024-05-31    5000.0     0.0      0.0   5000.0
2024-06-30    5000.0     0.0      0.0   5000.0
2024-07-31    5000.0     0.0      0.0   5000.0
2024-08-31    5000.0     0.0      0.0   5000.0
2024-09-30    5000.0     0.0      0.0   5000.0
2024-10-31    5000.0     0.0      0.0   5000.0
2024-11-30    5000.0     0.0      0.0   5000.0
2024-12-31    5000.0     0.0      0.0   5000.0
2025-01-31    5000.0     0.0      0.0   5000.0
2025-02-28    5000.0     0.0      0.0   5000.0
2025-03-31    5000.0     0.0      0.0   5000.0
2025-04-30    5000.0     0.0      0.0   5000.0
2025-05-31    5000.0     0.0      0.0   5000.0
2025-06-30    5000.0     0.0      0.0   5000.0

In [7]:
acc.oprtg.jnl

           amt_in amt_out rcvfrm payto     note
2023-01-31   5000       0    보통주  None  자기자본 납입

## 2. For문을 통해 일괄적으로 현금흐름 추적하기

In [8]:
from practice.astn0_overview import overview, idx, acc
from practice.astn1_sales import sales
from practice.astn2_cost import cost
from practice.astn3_equity import equity
from practice.astn4_loan import loan

In [9]:
for idxno in idx:
    #운영계좌 잔액 확인
    _ = acc.oprtg.bal_strt[idxno]
    acc.tmp.addamt(idxno, _, note="월초 잔액")

    #자기자본 인출
    _ = equity.withdraw_equity_amount(idxno, acc.oprtg)
    acc.tmp.addamt(idxno, _, note="자기자본 납입")

    #사업비 추정
    oprtg_estmtd = cost.estimate_cost_amt(idxno)

    lncst_estmtd = 0
    for ln in loan.getloan(reverse=True):
        lncst_estmtd += ln.estimate_fee_amt(idxno)
        lncst_estmtd += ln.estimate_IR_amt(idxno)

    cst_estmtd = oprtg_estmtd + lncst_estmtd
    acc.tmp.subscd(idxno, cst_estmtd, note="추정 사업비")
    
    #분양매출 인식
    for sls in sales.dct.values():
        _ = sls.get_salesamt(acc.oprtg, idxno)
        acc.tmp.addamt(idxno, _, note=f"분양매출({sls.name})")

    #대출원금 인출
    for ln in loan.getloan(reverse=True):
        ln.set_loan_withdrawable(idxno)
        _ = ln.withdraw_ntnl_fixed(acc.oprtg, idxno)
        acc.tmp.addamt(idxno, _, note=f"일시대출금({ln.name})")

    for ln in loan.getloan(reverse=True):
        _ = ln.withdraw_ntnl_flexible(acc.tmp, acc.oprtg, idxno)
        acc.tmp.addamt(idxno, _, note=f"한도대출금({ln.name})")

    #금융비용 지출
    for ln in loan.getloan(reverse=False):
        fee = ln.pay_fee_amt(acc.oprtg, idxno)
        IR = ln.pay_IR_amt(acc.oprtg, idxno)
        acc.tmp.subamt(idxno, fee, note=f"수수료({ln.name})")
        acc.tmp.subamt(idxno, IR, note=f"이자({ln.name})")

    #일반사업비 지출
    _ = cost.pay_cost_amt(acc.oprtg, idxno)
    acc.tmp.subamt(idxno, _, note="일반사업비")

    #대출원금 상환
    for ln in loan.getloan(reverse=False):
        amtrpy = ln.repay_ntnl_amt(acc.oprtg, idxno)
        acc.tmp.subamt(idxno, amtrpy, note=f"대출금상환({ln.name})")
        ln.setback_loan_unwithdrawable(idxno)
        
    #자기자본 상환
    if idxno == idx[-1]: #at business end
        _ = equity.repay_equity_amt(idxno, acc.oprtg)
        acc.tmp.subamt(idxno, _, note="자기자본 상환")

    #임시계좌 현금 조정
    acc.tmp.subamt(idxno, acc.tmp.bal_end[idxno], note="임시계좌 잔액 조정")

In [10]:
acc.tmp.jnl

                  amt_in       amt_out rcvfrm payto        note
2023-01-31          5000             0   None  None     자기자본 납입
2023-01-31             0        5000.0   None  None  임시계좌 잔액 조정
2023-01-31          5000             0   None  None     자기자본 납입
2023-01-31             0        5000.0   None  None  임시계좌 잔액 조정
2023-02-28       10000.0             0   None  None       월초 잔액
2023-02-28             0       10000.0   None  None  임시계좌 잔액 조정
2023-03-31       10000.0             0   None  None       월초 잔액
2023-03-31          5000             0   None  None  일시대출금(trb)
2023-03-31          5000             0   None  None  일시대출금(tra)
2023-03-31        4800.0             0   None  None  한도대출금(tra)
2023-03-31             0         800.0   None  None    수수료(tra)
2023-03-31             0         300.0   None  None    수수료(trb)
2023-03-31             0  23663.888889   None  None       일반사업비
2023-03-31             0     36.111111   None  None  임시계좌 잔액 조정
2023-04-30     36.111111             0   None  None       월초 잔액
2023-04-30        1448.0             0   None  None    분양매출(오피)
2023-04-30         700.0             0   None  None  한도대출금(tra)
2023-04-30             0          49.0   None  None     이자(tra)
2023-04-30             0          37.5   None  None     이자(trb)
2023-04-30             0   2038.590389   None  None       일반사업비
2023-04-30             0     59.020722   None  None  임시계좌 잔액 조정
2023-05-31     59.020722             0   None  None       월초 잔액
2023-05-31         600.0             0   None  None  한도대출금(tra)
2023-05-31             0          52.5   None  None     이자(tra)
2023-05-31             0          37.5   None  None     이자(trb)
2023-05-31             0    505.161389   None  None       일반사업비
2023-05-31             0     63.859333   None  None  임시계좌 잔액 조정
2023-06-30     63.859333             0   None  None       월초 잔액
2023-06-30         600.0             0   None  None  한도대출금(tra)
2023-06-30             0          55.5   None  None     이자(tra)
2023-06-30             0          37.5   None  None     이자(trb)
2023-06-30             0    570.055889   None  None       일반사업비
2023-06-30             0      0.803444   None  None  임시계좌 잔액 조정
2023-07-31      0.803444             0   None  None       월초 잔액
2023-07-31         600.0             0   None  None  한도대출금(tra)
2023-07-31             0          58.5   None  None     이자(tra)
2023-07-31             0          37.5   None  None     이자(trb)
2023-07-31             0    461.898389   None  None       일반사업비
2023-07-31             0     42.905056   None  None  임시계좌 잔액 조정
2023-08-31     42.905056             0   None  None       월초 잔액
2023-08-31         600.0             0   None  None  한도대출금(tra)
2023-08-31             0          61.5   None  None     이자(tra)
2023-08-31             0          37.5   None  None     이자(trb)
2023-08-31             0    526.792889   None  None       일반사업비
2023-08-31             0     17.112167   None  None  임시계좌 잔액 조정
2023-09-30     17.112167             0   None  None       월초 잔액
2023-09-30        1448.0             0   None  None    분양매출(오피)
2023-09-30             0          64.5   None  None     이자(tra)
2023-09-30             0          37.5   None  None     이자(trb)
2023-09-30             0    678.213389   None  None       일반사업비
2023-09-30             0    684.898778   None  None  임시계좌 잔액 조정
2023-10-31    684.898778             0   None  None       월초 잔액
2023-10-31        2896.0             0   None  None    분양매출(오피)
2023-10-31             0          64.5   None  None     이자(tra)
2023-10-31             0          37.5   None  None     이자(trb)
2023-10-31             0   1553.633889   None  None       일반사업비
2023-10-31             0   1925.264889   None  None  임시계좌 잔액 조정
2023-11-30   1925.264889             0   None  None       월초 잔액
2023-11-30             0          64.5   None  None     이자(tra)
2023-11-30             0          37.5   None  None     이자(trb)
2023-11-30             0    916.159889   None  None       일반사업비
2023-11-30             0       907.105   None  None  임시계좌 잔액 조정
2023-12-31       907.105             0   None  None       월초 잔액
2023-12-31         100.0             0   None  None  한도대출금(tra)
2023-12-31             0          64.5   None  None     이자(tra)
2023-12-31             0          37.5   None  None     이자(trb)
2023-12-31             0    851.265389   None  None       일반사업비
2023-12-31             0     53.839611   None  None  임시계좌 잔액 조정
2024-01-31     53.839611             0   None  None       월초 잔액
2024-01-31         900.0             0   None  None  한도대출금(tra)
2024-01-31             0          65.0   None  None     이자(tra)
2024-01-31             0          37.5   None  None     이자(trb)
2024-01-31             0    829.633889   None  None       일반사업비
2024-01-31             0     21.705722   None  None  임시계좌 잔액 조정
2024-02-29     21.705722             0   None  None       월초 잔액
2024-02-29        2896.0             0   None  None    분양매출(오피)
2024-02-29             0          69.5   None  None     이자(tra)
2024-02-29             0          37.5   None  None     이자(trb)
2024-02-29             0    829.633889   None  None       일반사업비
2024-02-29             0   1981.071833   None  None  임시계좌 잔액 조정
2024-03-31   1981.071833             0   None  None       월초 잔액
2024-03-31             0          69.5   None  None     이자(tra)
2024-03-31             0          37.5   None  None     이자(trb)
2024-03-31             0    959.422889   None  None       일반사업비
2024-03-31             0    914.648944   None  None  임시계좌 잔액 조정
2024-04-30    914.648944             0   None  None       월초 잔액
2024-04-30        4344.0             0   None  None    분양매출(오피)
2024-04-30             0          69.5   None  None     이자(tra)
2024-04-30             0          37.5   None  None     이자(trb)
2024-04-30             0   1878.106389   None  None       일반사업비
2024-04-30             0   3273.542556   None  None  임시계좌 잔액 조정
2024-05-31   3273.542556             0   None  None       월초 잔액
2024-05-31             0          69.5   None  None     이자(tra)
2024-05-31             0          37.5   None  None     이자(trb)
2024-05-31             0   1413.684389   None  None       일반사업비
2024-05-31             0   1752.858167   None  None  임시계좌 잔액 조정
2024-06-30   1752.858167             0   None  None       월초 잔액
2024-06-30         100.0             0   None  None  한도대출금(tra)
2024-06-30             0          69.5   None  None     이자(tra)
2024-06-30             0          37.5   None  None     이자(trb)
2024-06-30             0   1673.262389   None  None       일반사업비
2024-06-30             0     72.595778   None  None  임시계좌 잔액 조정
2024-07-31     72.595778             0   None  None       월초 잔액
2024-07-31        4344.0             0   None  None    분양매출(오피)
2024-07-31             0          70.0   None  None     이자(tra)
2024-07-31             0          37.5   None  None     이자(trb)
2024-07-31             0   1824.682889   None  None       일반사업비
2024-07-31             0   2484.412889   None  None  임시계좌 잔액 조정
2024-08-31   2484.412889             0   None  None       월초 잔액
2024-08-31             0          70.0   None  None     이자(tra)
2024-08-31             0          37.5   None  None     이자(trb)
2024-08-31             0   1911.208889   None  None       일반사업비
2024-08-31             0       465.704   None  None  임시계좌 잔액 조정
2024-09-30       465.704             0   None  None       월초 잔액
2024-09-30        1500.0             0   None  None  한도대출금(tra)
2024-09-30             0          70.0   None  None     이자(tra)
2024-09-30             0          37.5   None  None     이자(trb)
2024-09-30             0   1846.314389   None  None       일반사업비
2024-09-30             0     11.889611   None  None  임시계좌 잔액 조정
2024-10-31     11.889611             0   None  None       월초 잔액
2024-10-31        5792.0             0   None  None    분양매출(오피)
2024-10-31             0          77.5   None  None     이자(tra)
2024-10-31             0          37.5   None  None     이자(trb)
2024-10-31             0   2483.788389   None  None       일반사업비
2024-10-31             0   3205.101222   None  None  임시계좌 잔액 조정
2024-11-30   3205.101222             0   None  None       월초 잔액
2024-11-30             0          77.5   None  None     이자(tra)
2024-11-30             0          37.5   None  None     이자(trb)
2024-11-30             0   1651.630889   None  None       일반사업비
2024-11-30             0   1438.470333   None  None  임시계좌 잔액 조정
2024-12-31   1438.470333             0   None  None       월초 잔액
2024-12-31        5792.0             0   None  None    분양매출(오피)
2024-12-31             0          77.5   None  None     이자(tra)
2024-12-31             0          37.5   None  None     이자(trb)
2024-12-31             0   1521.841889   None  None       일반사업비
2024-12-31             0   5593.628444   None  None  임시계좌 잔액 조정
2025-01-31   5593.628444             0   None  None       월초 잔액
2025-01-31             0          77.5   None  None     이자(tra)
2025-01-31             0          37.5   None  None     이자(trb)
2025-01-31             0   1327.158389   None  None       일반사업비
2025-01-31             0   4151.470056   None  None  임시계좌 잔액 조정
2025-02-28   4151.470056             0   None  None       월초 잔액
2025-02-28             0          77.5   None  None     이자(tra)
2025-02-28             0          37.5   None  None     이자(trb)
2025-02-28             0   1024.317389   None  None       일반사업비
2025-02-28             0   3012.152667   None  None  임시계좌 잔액 조정
2025-03-31   3012.152667             0   None  None       월초 잔액
2025-03-31             0          77.5   None  None     이자(tra)
2025-03-31             0          37.5   None  None     이자(trb)
2025-03-31             0   1313.423467   None  None       일반사업비
2025-03-31             0     1583.7292   None  None  임시계좌 잔액 조정
2025-04-30     1583.7292             0   None  None       월초 잔액
2025-04-30       43440.0             0   None  None    분양매출(오피)
2025-04-30        5600.0             0   None  None    분양매출(근생)
2025-04-30             0          77.5   None  None     이자(tra)
2025-04-30             0          37.5   None  None     이자(trb)
2025-04-30             0   1337.688889   None  None       일반사업비
2025-04-30             0  49171.040311   None  None  임시계좌 잔액 조정
2025-05-31  49171.040311             0   None  None       월초 잔액
2025-05-31             0          77.5   None  None     이자(tra)
2025-05-31             0          37.5   None  None     이자(trb)
2025-05-31             0     28.888889   None  None       일반사업비
2025-05-31             0       15500.0   None  None  대출금상환(tra)
2025-05-31             0        5000.0   None  None  대출금상환(trb)
2025-05-31             0  28527.151422   None  None  임시계좌 잔액 조정
2025-06-30  28527.151422             0   None  None       월초 잔액
2025-06-30             0  28527.151422   None  None     자기자본 상환

In [11]:
acc.oprtg.jnl

            amt_in       amt_out rcvfrm payto         note
2023-01-31    5000             0    보통주  None      자기자본 납입
2023-01-31    5000             0    보통주  None      자기자본 납입
2023-03-31    5000             0   ntnl  None   일시대출금(trb)
2023-03-31    5000             0   ntnl  None   일시대출금(tra)
2023-03-31  4800.0             0   ntnl  None   한도대출금(tra)
...            ...           ...    ...   ...          ...
2025-05-31       0          37.5   None    IR      이자(trb)
2025-05-31       0     28.888889   None   예비비          예비비
2025-05-31       0       15500.0   None  ntnl   대출금상환(tra)
2025-05-31       0        5000.0   None  ntnl   대출금상환(trb)
2025-06-30       0  28527.151422   None   보통주  자기자본상환(보통주)

[248 rows x 5 columns]

In [12]:
acc.oprtg.df

                bal_strt   amt_in       amt_out       bal_end
2023-01-31      0.000000  10000.0      0.000000  10000.000000
2023-02-28  10000.000000      0.0      0.000000  10000.000000
2023-03-31  10000.000000  14800.0  24763.888889     36.111111
2023-04-30     36.111111   2148.0   2125.090389     59.020722
2023-05-31     59.020722    600.0    595.161389     63.859333
2023-06-30     63.859333    600.0    663.055889      0.803444
2023-07-31      0.803444    600.0    557.898389     42.905056
2023-08-31     42.905056    600.0    625.792889     17.112167
2023-09-30     17.112167   1448.0    780.213389    684.898778
2023-10-31    684.898778   2896.0   1655.633889   1925.264889
2023-11-30   1925.264889      0.0   1018.159889    907.105000
2023-12-31    907.105000    100.0    953.265389     53.839611
2024-01-31     53.839611    900.0    932.133889     21.705722
2024-02-29     21.705722   2896.0    936.633889   1981.071833
2024-03-31   1981.071833      0.0   1066.422889    914.648944
2024-04-30    914.648944   4344.0   1985.106389   3273.542556
2024-05-31   3273.542556      0.0   1520.684389   1752.858167
2024-06-30   1752.858167    100.0   1780.262389     72.595778
2024-07-31     72.595778   4344.0   1932.182889   2484.412889
2024-08-31   2484.412889      0.0   2018.708889    465.704000
2024-09-30    465.704000   1500.0   1953.814389     11.889611
2024-10-31     11.889611   5792.0   2598.788389   3205.101222
2024-11-30   3205.101222      0.0   1766.630889   1438.470333
2024-12-31   1438.470333   5792.0   1636.841889   5593.628444
2025-01-31   5593.628444      0.0   1442.158389   4151.470056
2025-02-28   4151.470056      0.0   1139.317389   3012.152667
2025-03-31   3012.152667      0.0   1428.423467   1583.729200
2025-04-30   1583.729200  49040.0   1452.688889  49171.040311
2025-05-31  49171.040311      0.0  20643.888889  28527.151422
2025-06-30  28527.151422      0.0  28527.151422      0.000000

In [13]:
sales.오피.dfall

            scd_in  scd_in_cum  scd_out  scd_out_cum  bal_strt  amt_in  amt_in_cum  amt_out  amt_out_cum  bal_end  rsdl_in_cum  rsdl_out_cum
2023-01-31     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2023-02-28     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2023-03-31     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2023-04-30     0.0         0.0   1448.0       1448.0       0.0     0.0         0.0   1448.0       1448.0  -1448.0          0.0           0.0
2023-05-31     0.0         0.0      0.0       1448.0   -1448.0     0.0         0.0      0.0       1448.0  -1448.0          0.0           0.0
2023-06-30     0.0         0.0      0.0       1448.0   -1448.0     0.0         0.0      0.0       1448.0  -1448.0          0.0           0.0
2023-07-31     0.0         0.0      0.0       1448.0   -1448.0     0.0         0.0      0.0       1448.0  -1448.0          0.0           0.0
2023-08-31     0.0         0.0      0.0       1448.0   -1448.0     0.0         0.0      0.0       1448.0  -1448.0          0.0           0.0
2023-09-30     0.0         0.0   1448.0       2896.0   -1448.0     0.0         0.0   1448.0       2896.0  -2896.0          0.0           0.0
2023-10-31     0.0         0.0   2896.0       5792.0   -2896.0     0.0         0.0   2896.0       5792.0  -5792.0          0.0           0.0
2023-11-30     0.0         0.0      0.0       5792.0   -5792.0     0.0         0.0      0.0       5792.0  -5792.0          0.0           0.0
2023-12-31     0.0         0.0      0.0       5792.0   -5792.0     0.0         0.0      0.0       5792.0  -5792.0          0.0           0.0
2024-01-31     0.0         0.0      0.0       5792.0   -5792.0     0.0         0.0      0.0       5792.0  -5792.0          0.0           0.0
2024-02-29     0.0         0.0   2896.0       8688.0   -5792.0     0.0         0.0   2896.0       8688.0  -8688.0          0.0           0.0
2024-03-31     0.0         0.0      0.0       8688.0   -8688.0     0.0         0.0      0.0       8688.0  -8688.0          0.0           0.0
2024-04-30     0.0         0.0   4344.0      13032.0   -8688.0     0.0         0.0   4344.0      13032.0 -13032.0          0.0           0.0
2024-05-31     0.0         0.0      0.0      13032.0  -13032.0     0.0         0.0      0.0      13032.0 -13032.0          0.0           0.0
2024-06-30     0.0         0.0      0.0      13032.0  -13032.0     0.0         0.0      0.0      13032.0 -13032.0          0.0           0.0
2024-07-31     0.0         0.0   4344.0      17376.0  -13032.0     0.0         0.0   4344.0      17376.0 -17376.0          0.0           0.0
2024-08-31     0.0         0.0      0.0      17376.0  -17376.0     0.0         0.0      0.0      17376.0 -17376.0          0.0           0.0
2024-09-30     0.0         0.0      0.0      17376.0  -17376.0     0.0         0.0      0.0      17376.0 -17376.0          0.0           0.0
2024-10-31     0.0         0.0   5792.0      23168.0  -17376.0     0.0         0.0   5792.0      23168.0 -23168.0          0.0           0.0
2024-11-30     0.0         0.0      0.0      23168.0  -23168.0     0.0         0.0      0.0      23168.0 -23168.0          0.0           0.0
2024-12-31     0.0         0.0   5792.0      28960.0  -23168.0     0.0         0.0   5792.0      28960.0 -28960.0          0.0           0.0
2025-01-31     0.0         0.0      0.0      28960.0  -28960.0     0.0         0.0      0.0      28960.0 -28960.0          0.0           0.0
2025-02-28     0.0         0.0      0.0      28960.0  -28960.0     0.0         0.0      0.0      28960.0 -28960.0          0.0           0.0
2025-03-31     0.0         0.0      0.0      28960.0  -28960.0     0.0         0.0      0.0      28960.0 -28960.0          0.0           0.0
2025-04-30     0.0         0.0  43440.0      72400.0  -28960.0     0.0         0.0  43440.0      72400.0 -72400.0          0.0           0.0
2025-05-31     0.0         0.0      0.0      72400.0  -72400.0     0.0         0.0      0.0      72400.0 -72400.0          0.0           0.0
2025-06-30     0.0         0.0      0.0      72400.0  -72400.0     0.0         0.0      0.0      72400.0 -72400.0          0.0           0.0

In [14]:
sales.근생.dfall

            scd_in  scd_in_cum  scd_out  scd_out_cum  bal_strt  amt_in  amt_in_cum  amt_out  amt_out_cum  bal_end  rsdl_in_cum  rsdl_out_cum
2023-01-31     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2023-02-28     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2023-03-31     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2023-04-30     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2023-05-31     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2023-06-30     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2023-07-31     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2023-08-31     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2023-09-30     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2023-10-31     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2023-11-30     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2023-12-31     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2024-01-31     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2024-02-29     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2024-03-31     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2024-04-30     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2024-05-31     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2024-06-30     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2024-07-31     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2024-08-31     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2024-09-30     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2024-10-31     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2024-11-30     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2024-12-31     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2025-01-31     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2025-02-28     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2025-03-31     0.0         0.0      0.0          0.0       0.0     0.0         0.0      0.0          0.0      0.0          0.0           0.0
2025-04-30     0.0         0.0   5600.0       5600.0       0.0     0.0         0.0   5600.0       5600.0  -5600.0          0.0           0.0
2025-05-31     0.0         0.0      0.0       5600.0   -5600.0     0.0         0.0      0.0       5600.0  -5600.0          0.0           0.0
2025-06-30     0.0         0.0      0.0       5600.0   -5600.0     0.0         0.0      0.0       5600.0  -5600.0          0.0           0.0

In [15]:
loan.tra.ntnl.dfall

             scd_in  scd_in_cum  scd_out  scd_out_cum  bal_strt   amt_in  amt_in_cum  amt_out  amt_out_cum  bal_end  rsdl_in_cum  rsdl_out_cum
2023-01-31      0.0         0.0      0.0          0.0       0.0      0.0         0.0      0.0          0.0      0.0          0.0           0.0
2023-02-28      0.0         0.0      0.0          0.0       0.0      0.0         0.0      0.0          0.0      0.0          0.0           0.0
2023-03-31      0.0         0.0  40000.0      40000.0       0.0      0.0         0.0   9800.0       9800.0  -9800.0          0.0       30200.0
2023-04-30      0.0         0.0      0.0      40000.0   -9800.0      0.0         0.0    700.0      10500.0 -10500.0          0.0       29500.0
2023-05-31      0.0         0.0      0.0      40000.0  -10500.0      0.0         0.0    600.0      11100.0 -11100.0          0.0       28900.0
2023-06-30      0.0         0.0      0.0      40000.0  -11100.0      0.0         0.0    600.0      11700.0 -11700.0          0.0       28300.0
2023-07-31      0.0         0.0      0.0      40000.0  -11700.0      0.0         0.0    600.0      12300.0 -12300.0          0.0       27700.0
2023-08-31      0.0         0.0      0.0      40000.0  -12300.0      0.0         0.0    600.0      12900.0 -12900.0          0.0       27100.0
2023-09-30      0.0         0.0      0.0      40000.0  -12900.0      0.0         0.0      0.0      12900.0 -12900.0          0.0       27100.0
2023-10-31      0.0         0.0      0.0      40000.0  -12900.0      0.0         0.0      0.0      12900.0 -12900.0          0.0       27100.0
2023-11-30      0.0         0.0      0.0      40000.0  -12900.0      0.0         0.0      0.0      12900.0 -12900.0          0.0       27100.0
2023-12-31      0.0         0.0      0.0      40000.0  -12900.0      0.0         0.0    100.0      13000.0 -13000.0          0.0       27000.0
2024-01-31      0.0         0.0      0.0      40000.0  -13000.0      0.0         0.0    900.0      13900.0 -13900.0          0.0       26100.0
2024-02-29      0.0         0.0      0.0      40000.0  -13900.0      0.0         0.0      0.0      13900.0 -13900.0          0.0       26100.0
2024-03-31      0.0         0.0      0.0      40000.0  -13900.0      0.0         0.0      0.0      13900.0 -13900.0          0.0       26100.0
2024-04-30      0.0         0.0      0.0      40000.0  -13900.0      0.0         0.0      0.0      13900.0 -13900.0          0.0       26100.0
2024-05-31      0.0         0.0      0.0      40000.0  -13900.0      0.0         0.0      0.0      13900.0 -13900.0          0.0       26100.0
2024-06-30      0.0         0.0      0.0      40000.0  -13900.0      0.0         0.0    100.0      14000.0 -14000.0          0.0       26000.0
2024-07-31      0.0         0.0      0.0      40000.0  -14000.0      0.0         0.0      0.0      14000.0 -14000.0          0.0       26000.0
2024-08-31      0.0         0.0      0.0      40000.0  -14000.0      0.0         0.0      0.0      14000.0 -14000.0          0.0       26000.0
2024-09-30      0.0         0.0      0.0      40000.0  -14000.0      0.0         0.0   1500.0      15500.0 -15500.0          0.0       24500.0
2024-10-31      0.0         0.0      0.0      40000.0  -15500.0      0.0         0.0      0.0      15500.0 -15500.0          0.0       24500.0
2024-11-30      0.0         0.0      0.0      40000.0  -15500.0      0.0         0.0      0.0      15500.0 -15500.0          0.0       24500.0
2024-12-31      0.0         0.0      0.0      40000.0  -15500.0      0.0         0.0      0.0      15500.0 -15500.0          0.0       24500.0
2025-01-31      0.0         0.0      0.0      40000.0  -15500.0      0.0         0.0      0.0      15500.0 -15500.0          0.0       24500.0
2025-02-28      0.0         0.0      0.0      40000.0  -15500.0      0.0         0.0      0.0      15500.0 -15500.0          0.0       24500.0
2025-03-31      0.0         0.0      0.0      40000.0  -15500.0      0.0         0.0      0.0      15500.0 -15500.0          0.0       24500.0
2025-04-30      0.0         0.0      0.0      40000.0  -15500.0      0.0         0.0      0.0      15500.0 -15500.0          0.0       24500.0
2025-05-31  40000.0     40000.0      0.0      40000.0  -15500.0  15500.0     15500.0      0.0      15500.0      0.0      24500.0       24500.0
2025-06-30      0.0     40000.0      0.0      40000.0       0.0      0.0     15500.0      0.0      15500.0      0.0      24500.0       24500.0